<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>




    <%- include("../partials/head.ejs") %>


    <main>
        <div>
            <% for(let workout of workouts){ %>

                <article>
                    <a href="/workouts/<%= workout._id %>">
                        <h2>
                            <%= workout.exercise %> - <%= workout.
                            completion ? "finished" : "Not finished" %>
                        </h2>
                </article>

            <% } %>

        </div>
    </main>
</body>

</html>