<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <div>
            <article>
                <h2 class="exercise"><%= workout.exercise %> </h2>
                <p class="dot"></p> 
                <h2 class="duration"><%= workout.duration %> </h2>
                <p class="dot"></p> 
                <h2 class="intensity"><%= workout.intensity %></h2>
                <p class="dot"></p> 
                <h2 class="completion"><%= workout.completion ? "finished" : "Not finished" %></h2>
                <a href="/workouts/<%= workout._id %>/edit"><button>Edit</button></a>
                <form action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
                <a href="/workouts"><button>Back to Main Menu</button></a> 
            </article>
        </div>
    </main>
</body>
</html>
